<?xml version="1.0"?>

<launch>
  <!-- Arguments -->  
  <arg name="global_frame"       default="tracking_camera_odom"/>
  <arg name="robot_base_frame"   default="base_link"/>
  
  <arg name="sim"                default="false"/>

  <!-- Mapping -->
  <include file="$(find smb_navigation)/launch/mapping/point_cloud_to_scan.launch"/>
  
  <!-- Robot self-filtering and ground removal -->
  <include file="$(find smb_navigation_scripts)/launch/filter_pointcloud_ground.launch"/>
  
  <!-- move_base -->
  <!-- This is the standard move base (without traversability) for the SIMULATED robot -->
  <group if="$(arg sim)">
    <include file="$(find smb_navigation)/launch/move_base.launch">
      <arg name="global_frame"     value="$(arg global_frame)"/>
      <arg name="robot_base_frame" value="$(arg robot_base_frame)"/>
      <arg name="file_suffix"      value="_sim"/>
    </include>
  </group>
    
  <!-- This is the standard move base (without traversability) for the REAL robot -->
  <group unless="$(arg sim)">
    <include file="$(find smb_navigation)/launch/move_base.launch">
      <arg name="global_frame"     value="$(arg global_frame)"/>
      <arg name="robot_base_frame" value="$(arg robot_base_frame)"/>
    </include>
  </group>
  
  <!-- Utility for communication with MPC - Comment this back in if you plan to use standard ROS planners -->
  <!--
  <include file="$(find smb_navigation)/launch/utility/path_interceptor.launch"/>
  -->
</launch> 
