# more on http://wiki.ros.org/navigation/Tutorials/RobotSetup

global_costmap:
  update_frequency: 5.0
  publish_frequency: 2.0
  transform_tolerance: 0.5 # [s]
  
  rolling_window: true
  resolution: 0.20
  inflation_radius: 0.50
  
  width: 200.0
  height: 200.0

  plugins:
    - 
     name: static_layer
     type: "costmap_2d::StaticLayer" 
    - 
     name: obstacle_layer
     type: "costmap_2d::ObstacleLayer"  
    -
     name: inflation_layer
     type: "costmap_2d::InflationLayer"

  virtual_obstacles:
    observation_sources: laser_scan_sensor
    
  obstacle_layer:
    enabled: false
    observation_sources: laser_scan_sensor 
    laser_scan_sensor:
      data_type: 'LaserScan'
      topic: scan
      marking: true
      clearing: true
      min_obstacle_height: -100.0
      max_obstacle_height: 100.0
      observation_persistence: 0.4
      inf_is_valid: true   

  inflation_layer:
    enabled: false
    observation_sources: laser_scan_sensor

