<launch>

  <!-- Nodes for traversability: we need elevation mapping and the message interceptor node -->
	<node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find smb_planner_common)/cfg/elevation_mapping_smb.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/kinect_nguyen_et_al.yaml" />
  </node>
  
  <node pkg="smb_planner_common" type="smb_pose_interceptor_node" name="smb_pose_interceptor" output="screen" />
  <node pkg="tf" type="static_transform_publisher" name="trasform_sensor" args="0 0 0 0 0 0 /vi_sensor/camera_depth_optical_center_link /sensor 100"/>
  
  <!-- Launch visualizations for the resulting elevation map -->
  <include file="$(find elevation_mapping_demos)/launch/visualization.launch" />
  
</launch>
