<launch>

   <arg name="param_file" default="$(find smb_planner_common)/cfg/smb_planner_parameters_simulation.yaml"/>
   <arg name="traversability_filter_file" default="$(find smb_planner_common)/cfg/traversability_filter_parameter.yaml"/>
   <arg name="launch_prefix" default=""/> <!-- TO DEBUG: gdb - -args -->
   <arg name="voxel_size" default="0.20"/>
   
   <node name="smb_global_planner" pkg="smb_global_planner" type="smb_global_planner_node" output="screen" launch-prefix="$(arg launch_prefix)">
      <rosparam command="load" file="$(arg param_file)" />
      <rosparam command="load" file="$(arg traversability_filter_file)"/>
      <param name="topic_file" value="topics_global_planning"/>
      <remap from="smb_global_planner/esdf_map_in" to="esdf_map" />
      <remap from="smb_global_planner/tsdf_map_in" to="tsdf_map" />
	 </node>

</launch>
