<?xml version="1.0"?>
<launch>
  <node pkg="smb_navigation_scripts" type="filter_pointcloud.py" name="filter_pointcloud" output="screen" required="true" >
    <param name="clear_radius" value="0.25"/>
    
    <!-- Remapping -->
    <remap from="rslidar_points"          to="rslidar_points"/>
    <remap from="rslidar_points_filtered" to="rslidar_points_filtered"/>
  </node>
</launch>
